:host {
  .content {
    padding-top: 36px;
    width: 100%;
    text-align: center;
    min-width: 800px;

    .body {
      a {
        margin: 0 10px;
        text-decoration: none;
      }
    }
  }

}
